@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'keen-slider/keen-slider.min.css';

html,
body {
  height: 100%;
}


body {
  @apply bg-white text-gray-900 font-sans;
}

a {
  @apply no-underline text-inherit;
}
.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2.5 shadow-sm text-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent transition;
}

@keyframes slide-shine {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
  }
}

.group-hover\:animate-slide-shine:hover {
  animation: slide-shine 0.8s ease-in-out forwards;
}